[submodule "sources_non_forked/tarbar"]
	path = my_plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "sources_non_forked/vim-airline-themes"]
	path = my_plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "sources_non_forked/vim-airline"]
	path = my_plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "my_plugins/space-vim-dark"]
	path = my_plugins/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule "my_plugins/vim-commentary"]
	path = my_plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "my_plugins/nerdtree"]
	path = my_plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "my_plugins/vim-go"]
	path = my_plugins/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "my_plugins/vim-autoformat"]
	path = my_plugins/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "my_plugins/vim-indent-guides"]
	path = my_plugins/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-cpp-enhanced-highlight"]
	path = vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "my_plugins/vim-cpp-enhanced-highlight"]
	path = my_plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "my_plugins/coc.nvim"]
	path = my_plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "my_plugins/onedark.vim"]
	path = my_plugins/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
